nav > ul > li {
    float: left;
    padding: 20px;
    min-width: 100px;
    list-style: none;
}

nav {
    display: inline;
}

div.logo {
    float: left;
    display: inline;
}

ul {
    display: inline;
}

header.page-header{
    background-color: brown;
    height: 60px;
    z-index: 2;
    position: fixed;
    width: 100%;
}

a {
    color: white;
    font-size: 1.1em;
}
a:hover {
    color: rgb(48, 48, 48);
    font-size: 1.1em;
}

a.btn-login{
    float: right;
    padding: 20px;
}